<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>SI-SDM</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'/'})"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Filter Presensi</h2>
        <br>
        <h4>Berdasarkan Nama Karyawan dan Status Tugas</h4>

        <form th:action="@{/filter-tugas}" method="GET">

          Nama Karyawan: <br>
            <select name="id-karyawan"  class="form-control">
              <div th:each="karyawanEx, iterationStatus2 : ${listKaryawanExisting}">
                <option th:value="${karyawanEx.idKaryawan}" th:text="${karyawanEx.namaDepan}+' '+${karyawanEx.namaBelakang}"></option>
              </div>
            </select>

          Status: <br>
          <select name="status">
            <option value="0">Dimulai</option>
            <option value="1">Dikerjakan</option>
            <option value="2">Selesai</option>
          </select>
          <br><br>

          <button class="btn btn-primary" type="submit" name="filter">Cari</button>
        </form>

        <br><br>
        <div th:if="${listTugas.size() != 0}">
          <table class="table">
            <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Story Point</th>
              <th>Deskripsi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tugas, iterationStatus : ${listTugas}">
              <td th:text="${iterationStatus.count}"></td>
              <td th:text="${tugas.namaTugas}"></td>
              <td th:text="${tugas.storypoint}"></td>
              <td th:text="${tugas.deskripsiTugas}"></td>

            </tr>
            </tbody>
          </table>
        </div>
        <div th:unless="${listTugas.size() != 0}">
          <h2 th:text="'Tidak ada Tugas'"></h2>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

</body>
</html>